/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
   */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
}
a {
  color: #2772b0;
}
.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background-color: #fff;
}

div img {
  width: 100%;
  max-width: 225px;
}

/* grid system -- mobile first! */

[class*="row"] {
  display: flex;
  flex-flow: row wrap;
}

.col-sm-3 {
    background-color: lightskyblue;
}

.col-sm-6 {
    background-color: coral;
}

.col-sm-3-r3,
.col-sm-9 {
    background-color: plum;
}

.col-sm-12 {
    background-color: yellow;
}

.col-5-1,
.col-5-2 {
  background-color: tomato;
}
/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) {
  [class*="col-"] {
    margin-left: 4%;
  }

  .col-sm-3,
  .col-sm-6,
  .col-5-1{
    flex: 0 0 44%;
  }

  .col-sm-3-r3,
  .col-sm-9,
  .col-sm-12 {
    flex: 0 0 92%;
  }

  .col-5-2 {
    flex: 0 0 92%;
    order: -1;
  }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  [class*="col-"] {
    margin-left: 4%;
  }

  .col-sm-3-r3,
  .col-sm-3,
  .col-5-1 {
    flex: 0 0 20%;
  }

  .col-sm-6 {
    flex: 0 0 44%;
  }

  .col-sm-9 {
    flex: 0 0 68%;
  }

  .col-sm-12 {
    flex: 0 0 92%;
  }

  .col-5-1:last-child {
    flex: 0 0 20%;
    order: 2;
  }

  .col-5-2{
    flex: 0 0 44%;
    order: 1;
  }
/* Reordering exercise for flexbox */
  .reverse {
    flex-direction: row-reverse;
  }

  .reverse [class*="col-"] {
    margin-left: 0;
    margin-right: 4%;
  }
}
